@use 'util' as u;

.logo{
    height: u.rem(80);
    border-bottom: u.rem(1) solid var(--text-color);
    line-height: 1.5;
}
.logoImg{
    height: 80%;
    width: auto;
    float: left;
}
.con{
    display: flex;
    max-width: u.rem(700);
    //height: u.rem(500);
    margin: 2% auto;
    flex-direction: column-reverse;
    &__image img{
        border-radius: 20%;
    }
    
}

.contributors{
    display: flex;
    flex-direction: column;
    max-width: u.rem(700);
    margin: 2% auto;
}
.contributor{
    background-color: var(--light);
    margin-bottom: 5%;
}
.contact{
    padding: 5%;
}
.contact h2{
    margin: 0;
}
.con_links{
    height: fit-content;
    display: flex;
    justify-content: center;
    @include u.breakpoint-down('small'){
        flex-direction: column;
        justify-content: center;
    }
}
.btn{
    display: inline-block;
    text-decoration: none;
    width: u.rem(100);
    max-width: 80%;
    margin: u.rem(10) auto;
    background-color: var(--text-color);
    border-radius: 25%;
    color: var(--light);
}
.btn:hover{
    opacity: 0.5;
}