<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduflash</title>
</head>
<body>
    <header>
        <div class="logo">
            <img class="logo__img" src="../../../../assets/images/Eduicon.png" alt="">
        </div>
        <h1>Eduflash</h1>
    </header>
    
	{% block content%}
    <div>
        <a href="{% url 'flash:upload_resource' %}"> upload resource</a>
    </div>
    {% endblock%}

    <footer>
        <p><span>&copy;</span>2024 eduflash</p>
    </footer>
</body>
</html>