* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px; /* Set a base font size for better scaling */
  }
  
  body {
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
  }

  
  .container {
	border-radius: 5px;
	background-color: white;
	padding: 2rem; /* Responsive padding */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%; /* Allow full width on small screens */
	max-width: 400px; /* Maintain max-width for larger screens */
	margin: auto;
  }
  
  
  h1 {
	font-size: 1.2rem;
	display: inline-block
	padding: 12px;
  }
  
  .logout-txt {

  }
  .login-btn {

  }

  .p-btn {

  }
