/* Inherit styles from the common base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	min-height: 100vh;
	background-image: url(./images/STudy\ 3.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;	
  }
  
  .container {
	height: 60vh;
	border: 1px solid black;
	border-radius: 15px;
	background-color: rgba(255, 210, 214, 0.781);
	margin: auto;
	padding: 3rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	/*text-align: center;*/
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	
  }
  
  h1 {
	font-size: 2rem;
	/*margin: 0 0 2rem;*/
	overflow: hidden;
  }
  
  .logout-txt {
	position: absolute;
	top: 10%;
  }
  .p-btn {
	position: relative;
	top: 40%;
	/*margin: 1.5rem 0;*/
	font-style: italic;
	font-weight: bold;
	overflow: hidden;
  }
  
  .login-btn {
	display: flex;
	/*margin-top: 25%;*/
	position: absolute;
	bottom: 10%;
	
	/*transform: translate(-50%);*/
	text-decoration: none;
	
  }

  .btn {
	width: auto;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	background-color: #0e37cec9;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-decoration: none;
	text-align: center;
  }
  
  .btn:hover {
	background-color: #47719e;
  }
  