.landing-page {
    background-image: url('images/landingpagebackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    height: 100vh;
    filter: saturate(40%);
    width: 240vh;
    /*border: 0px solid paleturquoise
    background-color: cornflowerblue; */
}
.landing-page::before { /* Pseudo-element for opacity */
    content: 'make learning process easy and intresting with EduFlash.';
    white-space: pre-wrap;
    position: absolute;
    color:white;
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
    margin-left: 30px;
    top: 80px;
    left: 10px;
    width: 30%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
    z-index: 1; /* Ensure overlay is above content */
  }
/*div .intro {
    color:white;
    font-weight: bolder;
    font-size: 50px;
    text-align:justify;
}*/
div .call-to-action {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin-left: 80px;
   /* border: 2px solid whitesmoke;
    background-color: azure;
    border-radius: 8px;
    padding: 5px;*/
}