<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra+Display&family=Butterfly+Kids&family=Cabin:ital@0;1&family=Itim&family=Kanit&family=Montserrat:wght@500&family=Open+Sans&family=Sacramento&family=Suravaram&family=Unna:ital@0;1&family=Zen+Loop&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'flash/main.css' %}">
    <link rel="stylesheet" href="{% static 'flash/uploadd.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'flash/favicon (3).ico' %}">
    <title>Eduflash</title>
</head>
<body>
    <header>
        <!-- <div class="logo">
            <img class="logoImg" src="..\assets\images\Eduicon.png" alt="">
        </div> -->
        <div style="background-color: #D6E4F0; height: 200px; color: #0A2647; border-radius: 10px;" class="head">
            <div class="nav" style="height: 100px; margin-left: 20px; padding: 10px">
                <h1 style="position: absolute; font-size: 3.5em; margin: 0;">EDUFLASH</h1>
                <div class="links" style="position: absolute; right: 20px; top: 40px; padding: 10px;">
                    <a style="color: #0A2647; padding: 5px; text-decoration: none;" href="{% url 'home' %}">home</a>
                    <a style=" color: #0A2647; padding: 5px; text-decoration: none;" href="{% url 'sign_up' %}">sign up</a>
                    <a style="color: #0A2647; padding: 5px; text-decoration: none;" href="{% url 'log_in' %}">log in</a>
                    <a style="color: #0A2647; padding: 5px; text-decoration: none;" href="{% url 'about' %}">about </a>
                </div>
            </div>
            <div class="circle" style=" display: flex; align-items: center; justify-content: center; background-color: #FAFAFA; border-radius: 50%; margin-left: 20px; margin-top: 10px; color: #0A2647; height: 200px; width: 200px;">
                <div style="height: fit-content; width: fit-content; margin: 0; padding: 0; line-height: 0;">
                    <h2>Eduflash</h2>
                    <h4>fun learning</h4>
                </div>
            </div>
        </div>
    </header>

    
    <div class="content" style="color: #0A2647; min-height: 200px; max-height: 700px; overflow-y: scroll; border:1px solid #0A2647; width: calc(100% - 270px); margin-left: 250px; margin-top: 50px;">
        {% block content%}
        <p style="margin-top: 50px;">Enjoy an active and fun way of learning with eduflash <br>       to create flashcards <a style="text-decoration: none; color: #D6E4F0; background-color: #0A2647; border-radius: 10px; padding: 7px;" href="{% url 'upload_resource' %}">upload your file</a></p>
        {% endblock %}
    </div>
    

    <footer>
        <p><span>&copy;</span>2024 eduflash</p></footer>
</body>
</html>